<main>
  <h1>Hello world!</h1>
  <h2>Our world is round</h2>
  <h3>It is mostly water</h3>
  <p>Water molecules are remarkable! I wish I had more to tell you about water.</p>
  <button mat-raised-button color="primary">Click primary</button>
  <button mat-raised-button color="accent">Click accent</button>
  <hr>
  <p>Lots of hydrogen helium and such</p>
  <mat-chip-list>
    <mat-chip color="primary" selected>Primary chip</mat-chip>
    <mat-chip color="accent" selected>Accent chip</mat-chip>
    <mat-chip>Plain chip</mat-chip>
  </mat-chip-list>
  <hr>
  <p>Ice is slippery like a slider</p>
  <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
</main>
